<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwd.log.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zwd.log.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="selectUser" resultType="com.zwd.log.entity.User">
        select * from user where id = #{id}
    </select>

</mapper>